div {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    width: 80%;
    list-style: none;
}

li {
    width: 100%;
    height: 40px;
    border: 1px solid #000;
    background-color: aqua;
}

/* 
li:nth-child(1) {
    background-color: tomato;
}
*/

/*
li:first-child {
    background-color: tomato;
}
*/

li:nth-child(even) {
    background-color: tomato;
}